* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #f5af19, #f12711);
}

.todo-div {
  width: 40%;
  margin: 100px auto;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.todo-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.todo-input input {
  width: 90%;
  padding: 10px;
  font-size: 18px;
  color: black;
  border: 1px solid #999;
  border-radius: 6px;
}
.todo-input p {
  color: #f12711;
  width: 10%;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
}

.todo-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bfbfbf;
}
.todo-date .date {
  color: #444444;
  font-style: italic;
}
.todo-date .clear {
  color: white;
  background: linear-gradient(135deg, #f5af19, #f12711);
  -o-object-fit: contain;
     object-fit: contain;
  padding: 6px;
  border-radius: 5px;
  margin: 15px 0px;
  cursor: pointer;
  border: none;
}

.list {
  margin: 20px auto;
}
.list .mylist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.list .check {
  text-align: left;
  width: 7%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.list .text {
  width: 86%;
}
.list .delete {
  width: 7%;
  text-align: right;
  cursor: pointer;
}
.list .delete:hover {
  color: #f12711;
}

@media screen and (max-width: 700px) {
  .todo-div {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .todo-div {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .todo-div {
    width: 70%;
  }
}
@media screen and (max-width: 450px) {
  .todo-div {
    width: 95%;
  }
  .date {
    font-size: 13px;
  }
  .clear {
    font-size: 11px;
  }
}
@media screen and (max-width: 300px) {
  .todo-div {
    width: 95%;
  }
  .date {
    font-size: 11px;
  }
  .clear {
    font-size: 11px;
  }
}